<a href="https://colab.research.google.com/github/julianovale/project_trains/blob/master/Ideias_Juliano_20200907.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sympy import I, Matrix, symbols, Symbol, eye
from datetime import datetime
import numpy as np
import pandas as pd

In [2]:
'''
Rotas
'''
R1 = Matrix([[0,"L1_p1",0,0,0,0,0],[0,0,"L1_p3",0,0,0,0],[0,0,0,"L1_v1",0,0,0],[0,0,0,0,"L1_p4",0,0],[0,0,0,0,0,"L1_v3",0],[0,0,0,0,0,0,"L1_v4"],[0,0,0,0,0,0,0]])
R2 = Matrix([[0,"L2_p2",0,0,0,0,0],[0,0,"L2_p3",0,0,0,0],[0,0,0,"L2_v2",0,0,0],[0,0,0,0,"L2_p5",0,0],[0,0,0,0,0,"L2_v3",0],[0,0,0,0,0,0,"L2_v5"],[0,0,0,0,0,0,0]])
R3 = Matrix([[0,"L3_p5",0,0,0,0,0],[0,0,"L3_p3",0,0,0,0],[0,0,0,"L3_v5",0,0,0],[0,0,0,0,"L3_p1",0,0],[0,0,0,0,0,"L3_v3",0],[0,0,0,0,0,0,"L3_v1"],[0,0,0,0,0,0,0]])

In [3]:
'''
Seções de bloqueio
'''
T1 = Matrix([[0, "p1"],["v1", 0]])
T2 = Matrix([[0, "p2"],["v2", 0]])
T3 = Matrix([[0, "p3"],["v3", 0]])
T4 = Matrix([[0, "p4"],["v4", 0]])
T5 = Matrix([[0, "p5"],["v5", 0]])

In [4]:
def kronSum(A,B):
  m = np.size(A,1)
  n = np.size(B,1)
  A = np.kron(A, np.eye(n))
  B = np.kron(np.eye(m),B)
  return A + B

In [5]:
momento_inicio = datetime.now() 
'''
Algebra de rotas
'''
rotas = kronSum(R1,R2)
rotas = kronSum(rotas,R3)

'''
Algebra de seções 
'''
secoes = kronSum(T1,T2)
secoes = kronSum(secoes,T3)
secoes = kronSum(secoes,T4)
secoes = kronSum(secoes,T5)
'''
Algebra de sistema
'''
sistema = np.kron(rotas, secoes)
# calcula tempo de processamento
tempo_processamento = datetime.now() - momento_inicio

In [6]:
sistema = pd.DataFrame(data=sistema,index=list(range(1,np.size(sistema,0)+1)), columns=list(range(1,np.size(sistema,1)+1)))

In [7]:
sistema.shape

(10976, 10976)

In [8]:
print(tempo_processamento)

0:03:10.028234

In [9]:
sistema

      1     2     3     4     5     6      ... 10971 10972 10973 10974 10975 10976
1         0     0     0     0     0     0  ...     0     0     0     0     0     0
2         0     0     0     0     0     0  ...     0     0     0     0     0     0
3         0     0     0     0     0     0  ...     0     0     0     0     0     0
4         0     0     0     0     0     0  ...     0     0     0     0     0     0
5         0     0     0     0     0     0  ...     0     0     0     0     0     0
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
10972     0     0     0     0     0     0  ...     0     0     0     0     0     0
10973     0     0     0     0     0     0  ...     0     0     0     0     0     0
10974     0     0     0     0     0     0  ...     0     0     0     0     0     0
10975     0     0     0     0     0     0  ...     0     0     0     0     0     0
10976     0     0     0     0     0     0  ...     0     0     0     0     0     0

[10976 rows x 10976 columns]

In [10]:
momento_inicio = datetime.now() 
colunas = ['denode', 'paranode', 'aresta']
grafo = pd.DataFrame(columns=colunas)
r = 1
c = 1
for j in range(np.size(sistema,0)):
  for i in range(np.size(sistema,0)):
    if sistema.loc[r,c]==0 and c < np.size(sistema,0):
      c += 1
    elif c < np.size(sistema,0):
      grafo.loc[len(grafo)+1] = (r, c, sistema.loc[r,c])  
      c += 1
    else:
      c = 1
      r += 1
tempo_processamento = datetime.now() - momento_inicio
print(tempo_processamento)

1:08:39.152899

In [11]:
grafo

       denode paranode        aresta
1           1       34  1.0*L3_p5*p5
2           1       35  1.0*L3_p5*p4
3           1       37  1.0*L3_p5*p3
4           1       41  1.0*L3_p5*p2
5           1       49  1.0*L3_p5*p1
...       ...      ...           ...
141101  10944    10960  1.0*L3_v1*v1
141102  10944    10968  1.0*L3_v1*v2
141103  10944    10972  1.0*L3_v1*v3
141104  10944    10974  1.0*L3_v1*v4
141105  10944    10975  1.0*L3_v1*v5

[141105 rows x 3 columns]

In [12]:
grafo['aresta'] = grafo['aresta'].astype('str')
grafo

       denode paranode        aresta
1           1       34  1.0*L3_p5*p5
2           1       35  1.0*L3_p5*p4
3           1       37  1.0*L3_p5*p3
4           1       41  1.0*L3_p5*p2
5           1       49  1.0*L3_p5*p1
...       ...      ...           ...
141101  10944    10960  1.0*L3_v1*v1
141102  10944    10968  1.0*L3_v1*v2
141103  10944    10972  1.0*L3_v1*v3
141104  10944    10974  1.0*L3_v1*v4
141105  10944    10975  1.0*L3_v1*v5

[141105 rows x 3 columns]

In [13]:
new = grafo["aresta"].str.split("*", n = -1, expand = True) 
grafo["aresta"]=new[1]
grafo["semaforo_secao"]=new[2]
new = grafo["aresta"].str.split("_", n = -1, expand = True) 
grafo["trem"]=new[0]
grafo["semaforo_trem"]=new[1]
grafo['coincide'] = np.where(grafo['semaforo_secao']==grafo['semaforo_trem'], True, False)
grafo

       denode paranode aresta semaforo_secao trem semaforo_trem  coincide
1           1       34  L3_p5             p5   L3            p5      True
2           1       35  L3_p5             p4   L3            p5     False
3           1       37  L3_p5             p3   L3            p5     False
4           1       41  L3_p5             p2   L3            p5     False
5           1       49  L3_p5             p1   L3            p5     False
...       ...      ...    ...            ...  ...           ...       ...
141101  10944    10960  L3_v1             v1   L3            v1      True
141102  10944    10968  L3_v1             v2   L3            v1     False
141103  10944    10972  L3_v1             v3   L3            v1     False
141104  10944    10974  L3_v1             v4   L3            v1     False
141105  10944    10975  L3_v1             v5   L3            v1     False

[141105 rows x 7 columns]

In [14]:
grafo = pd.DataFrame(data=grafo)

In [15]:
grafo.drop(grafo[grafo.coincide == False].index, inplace=True)
grafo.reset_index(drop = True)
grafo.index = np.arange(1, len(grafo) + 1)
grafo

      denode paranode aresta semaforo_secao trem semaforo_trem  coincide
1          1       34  L3_p5             p5   L3            p5      True
2          1      233  L2_p2             p2   L2            p2      True
3          1     1585  L1_p1             p1   L1            p1      True
4          2      234  L2_p2             p2   L2            p2      True
5          2     1586  L1_p1             p1   L1            p1      True
...      ...      ...    ...            ...  ...           ...       ...
14108  10940    10956  L3_v1             v1   L3            v1      True
14109  10941    10957  L3_v1             v1   L3            v1      True
14110  10942    10958  L3_v1             v1   L3            v1      True
14111  10943    10959  L3_v1             v1   L3            v1      True
14112  10944    10960  L3_v1             v1   L3            v1      True

[14112 rows x 7 columns]

In [16]:
# Passo 1:
alcancavel = [1]
r = 1
for i in range(np.size(grafo,0)):
  de = grafo.loc[r]['denode']
  para = grafo.loc[r]['paranode']
  if (de in alcancavel):
    alcancavel.append(para)
    r = r + 1
  else:
    r = r + 1

In [17]:
alcancavel.sort()

In [18]:
grafo = grafo[grafo.denode.isin(alcancavel)]
grafo

      denode paranode aresta semaforo_secao trem semaforo_trem  coincide
1          1       34  L3_p5             p5   L3            p5      True
2          1      233  L2_p2             p2   L2            p2      True
3          1     1585  L1_p1             p1   L1            p1      True
52        34       70  L3_p3             p3   L3            p3      True
53        34      266  L2_p2             p2   L2            p2      True
...      ...      ...    ...            ...  ...           ...       ...
14034  10786    10822  L3_p3             p3   L3            p3      True
14051  10822    10853  L3_v5             v5   L3            v5      True
14069  10853    10901  L3_p1             p1   L3            p1      True
14089  10901    10929  L3_v3             v3   L3            v3      True
14097  10929    10945  L3_v1             v1   L3            v1      True

[300 rows x 7 columns]

In [19]:
grafo.reset_index(drop = True)
grafo.index = np.arange(1, len(grafo) + 1)
grafo

    denode paranode aresta semaforo_secao trem semaforo_trem  coincide
1        1       34  L3_p5             p5   L3            p5      True
2        1      233  L2_p2             p2   L2            p2      True
3        1     1585  L1_p1             p1   L1            p1      True
4       34       70  L3_p3             p3   L3            p3      True
5       34      266  L2_p2             p2   L2            p2      True
..     ...      ...    ...            ...  ...           ...       ...
296  10786    10822  L3_p3             p3   L3            p3      True
297  10822    10853  L3_v5             v5   L3            v5      True
298  10853    10901  L3_p1             p1   L3            p1      True
299  10901    10929  L3_v3             v3   L3            v3      True
300  10929    10945  L3_v1             v1   L3            v1      True

[300 rows x 7 columns]

In [20]:
# Passo 2:
ultimo = alcancavel[-1]
alcancavel = [ultimo]
r = np.size(grafo,0)
for i in range(np.size(grafo,0),1,-1):
  para = grafo.loc[r]['paranode']
  de = grafo.loc[r]['denode']
  if (para in alcancavel):
    alcancavel.append(de)
    r = r - 1
  else:
    r = r - 1

In [21]:
grafo = grafo[grafo.paranode.isin(alcancavel)]
grafo

    denode paranode aresta semaforo_secao trem semaforo_trem  coincide
1        1       34  L3_p5             p5   L3            p5      True
2        1      233  L2_p2             p2   L2            p2      True
3        1     1585  L1_p1             p1   L1            p1      True
4       34       70  L3_p3             p3   L3            p3      True
5       34      266  L2_p2             p2   L2            p2      True
..     ...      ...    ...            ...  ...           ...       ...
296  10786    10822  L3_p3             p3   L3            p3      True
297  10822    10853  L3_v5             v5   L3            v5      True
298  10853    10901  L3_p1             p1   L3            p1      True
299  10901    10929  L3_v3             v3   L3            v3      True
300  10929    10945  L3_v1             v1   L3            v1      True

[266 rows x 7 columns]

In [22]:
grafo.reset_index(drop = True)
grafo.index = np.arange(1, len(grafo) + 1)
grafo

    denode paranode aresta semaforo_secao trem semaforo_trem  coincide
1        1       34  L3_p5             p5   L3            p5      True
2        1      233  L2_p2             p2   L2            p2      True
3        1     1585  L1_p1             p1   L1            p1      True
4       34       70  L3_p3             p3   L3            p3      True
5       34      266  L2_p2             p2   L2            p2      True
..     ...      ...    ...            ...  ...           ...       ...
262  10786    10822  L3_p3             p3   L3            p3      True
263  10822    10853  L3_v5             v5   L3            v5      True
264  10853    10901  L3_p1             p1   L3            p1      True
265  10901    10929  L3_v3             v3   L3            v3      True
266  10929    10945  L3_v1             v1   L3            v1      True

[266 rows x 7 columns]

In [29]:
# Passo 3
contra = [["v1","p1"],["v2","p2"],["v3","p3"],["v4","p4"],["v5","p5"]]
contra = pd.DataFrame(contra,columns=["operador_v","operador_p"])
v = grafo
v = v.loc[v['semaforo_trem'].isin(contra['operador_v'])]
v = v.drop(columns=["aresta", "semaforo_secao", "coincide"])
v = v.rename(columns={"denode": "noh_anterior","semaforo_trem": "operador_v", "paranode":"denode"})
v = v.merge(contra, on="operador_v")
v = grafo.merge(v, on="denode")
v['coincide'] = np.where(v['semaforo_secao']==v['operador_p'], True, False)
v.drop(v[v.coincide == False].index, inplace=True)
v.reset_index(drop = True)
v.index = np.arange(1, len(v) + 1)
v = v.drop(columns=["aresta","semaforo_secao", "coincide", "operador_p"])
v = v.rename(columns={"trem_x": "trem_atual", "semaforo_trem":"semaforo_atual", "trem_y": "trem_anterior", "operador_v": "semaforo_anterior"})
nohs_sincroniza = v

In [30]:
nohs_sincroniza

   denode paranode trem_atual  ... noh_anterior trem_anterior semaforo_anterior
1     193     1777         L1  ...          177            L3                v1
2     409      637         L2  ...          381            L3                v3
3     425     2009         L1  ...          409            L3                v1
4     653     2237         L1  ...          637            L3                v1
5     869     2453         L1  ...          853            L3                v1
6    1094     2678         L1  ...         1078            L3                v1
7    1314     2898         L1  ...         1298            L3                v1
8    1345     1378         L3  ...         1122            L2                v5
9    1537     3121         L1  ...         1521            L3                v1
10   2706     4278         L1  ...         2486            L2                v3
11   2898     4470         L1  ...         2678            L2                v3
12   2929     2962         L3  ...         2706            L2                v5
13   4501     4534         L3  ...         4278            L2                v5
14   6053     6086         L3  ...         5830            L2                v5
15   7623     7656         L3  ...         7400            L2                v5
16   7876     7912         L3  ...         6312            L1                v3
17   8075     8303         L2  ...         6511            L1                v3
18   8108     8144         L3  ...         6544            L1                v3
19   8251     8479         L2  ...         8223            L3                v3
20   8267     8495         L2  ...         6703            L1                v3
21   9187     9220         L3  ...         8964            L2                v5
22   9220     9256         L3  ...         7656            L1                v3
23   9817    10045         L2  ...         9789            L3                v3
24  10753    10786         L3  ...        10530            L2                v5

[24 rows x 7 columns]

In [25]:
# Passo 4

In [26]:
'''grafo.to_csv('grafo.csv', sep=";")
from google.colab import files
files.download('grafo.csv')'''

'grafo.to_csv(\'grafo.csv\', sep=";")\nfrom google.colab import files\nfiles.download(\'grafo.csv\')'